<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>User Blog</title>
        {% endif %}
    </head>
    <body>
        <div>
            Blog:
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                {% else %}
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% endif %}
            </ul>
        </div>
        <hr />
        {% with message = get_flashed_messages() %} {% if message %}
        <ul>
            {% for m in message %}
            <li>{{ m }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %} {% block content %}{% endblock content %}
    </body>
</html>
